// Declare variables
$topbar-height: 120px;
$default-font-color: #35495e;

/***************************************************/
// Overall Top Bar
/**************************************************/
.divTopBarContainer {
  position: relative;
  z-index: 100;
}

.divTopBarPlaceholder {
  height: $topbar-height;
  visibility: hidden;
}

.divTopBarOuter {
  position: fixed;
  top: 0px;
  width: 100%;
  height: $topbar-height;
  padding: 10px 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14);
  background: #fff;
}

.divTopBar {
  max-width: 1140px;
  margin: 0 auto;
}

.divTopBarInner {
  display: flex;
  align-items: center;
  width: 100%;
}

/***************************************************/
// Top Nav Menu
/**************************************************/
.ulNavMenus {
  a {
    text-decoration: none;
    color: $default-font-color;
  }
  li {
    list-style: none;
    margin: 0 10px;
  }
  display: flex;
  margin-left: auto;
}

.ulNavMenusSelected {
  border-bottom: solid 1px #000;
}

/***************************************************/
// Responsive Grid for Facebook Post
/**************************************************/
.divResponsiveGridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 35px;
}

.divFacebookPost {
  border: solid 1px #000;
  height: 650px;
}
